


<input type="text" [(ngModel)]="searchText" class="form-control mb-3" placeholder="Search by address...">
<div class="row">
  <div *ngFor="let residence of filteredResidences; let i = index" class="col-md-4 mb-4">
    <div class="card">
      <img [src]="residence.image" class="card-img-top" alt="{{ residence.name | uppercase }}" />
      <div class="card-body">
        <h3 class="card-title">{{ residence.name }}</h3>
        <h3 class="card-text">
          <span *ngIf="residence.status === 'Disponible'" class="badge bg-success">✅ Disponible</span>
          <span *ngIf="residence.status === 'Vendu'" class="badge bg-danger">❌ Vendu</span>
          <span *ngIf="residence.status === 'En Construction'" class="badge bg-warning">🚧 En Construction</span>
        </h3>
        <div class="d-grid gap-2">
          <div class="d-flex gap-2 justify-content-start">
            <button class="btn btn-primary" (click)="showAddress(residence.address)">
              📍 Show Location
            </button>
        
            <button class="btn btn-outline-primary" (click)="addFav(i)">
               Add to Favorites ❤️
            </button>
            <button class="btn btn-outline-secondary" [routerLink]="['/details',residence.id]">
              ℹ️ Details
            </button>
            <button  class="btn btn-outline-secondary" [routerLink]="['/apartments-by-residence', residence.id]">Appartements list</button>

           

          </div>
        
          
        </div>
        
        <h1 *ngIf="selectedAddress === residence.address" class="mt-3">
          {{ residence.address }}
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="mt-5">
  <h2>⭐ Favorite Residences ⭐</h2>

  <div class="row">
    <div *ngFor="let residence of listFav; let i = index" class="col-md-4 mb-4">
      <div class="card">
        <img [src]="residence.image" class="card-img-top" alt="{{ residence.name }}" />
        <div class="card-body">
          <h3 class="card-title">{{ residence.name }}</h3>
          <h3 class="card-text">
            <span *ngIf="residence.status === 'Disponible'" class="badge bg-success">✅ Disponible</span>
            <span *ngIf="residence.status === 'Vendu'" class="badge bg-danger">❌ Vendu</span>
            <span *ngIf="residence.status === 'En Construction'" class="badge bg-warning">🚧 En Construction</span>
          </h3>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" (click)="showAddress(residence.address)">
              Show location
            </button>
          </div>
          <h1 *ngIf="selectedAddress === residence.address" class="mt-3">
            {{ residence.address }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
