
<div class="row" *ngFor="let residence of listResidences; let i = index">


        <div class="card" style="width: 18rem;">
            <img [src]="residence.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{residence.name}}</h3>
              <h3 class="card-text">{{residence.status}}</h3>
              <h3 class="card-text">{{residence.address}}</h3>
             
              <button  class="btn btn-primary" *ngIf="residence.address!=='Inconnu'  ; else showAddress(residence.address)" >Show location
             
               
              </button>      
              <ng-template #f>
                {{residence.address}}

              </ng-template>
            </div>
          
            
            </div>
 
  
    </div>